.BookDetails{
    padding: 5rem 0;
    background-color: #8191a1;
}
.BookDetails{
    gap: 5rem;
}
.BookDetails-item{
    padding: 3rem 2rem;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;
    transition: var(--transition);
}
.book-item:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.BookDetailsinfo{
    margin-top: 2rem;
}
.BookDetails.title{
    line-height: 1.4;
    margin-bottom: 0.8rem;
}
.BookDetails.author{
    line-height: 1.4;
    margin-bottom: 4px;
}
.BookDetails-info-item:not(.book-item-info-item.title) span:last-child{
    opacity: 0.8;
}
.BookDetails-info-item.publication{
    opacity: 0.6;
    font-style: italic;
    font-size: 14px;
}

