.Context-container {
    background-color: blueviolet;
    display: inline;
    text-align: center;
    position: absolute;
    box-sizing: content-box;
    
    }
    .table-tr
    {
    height: 500px;
    margin: 800px;
    padding-inline: 30px; 
    border: 2px solid powderblue;
    margin: 50px;
      
    }
    th {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
    
 