
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header-content {
    box-sizing: border-box;
    text-align: center;
    margin-top: 10%;
}

.header-title {
    font-size: 3.2rem;
}

.header-text {
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}
