
.title>h2 {
    font-size: 5.5rem;
    color: blue;
    text-align: center;
    padding: 1.5rem;
    column-gap: 20px;
}
.links{
    font-size: 20px;
    transition: 0.3s;
    column-gap: 10px;
    color: aliceblue;

}
