 @import 'bootstrap/dist/css/bootstrap.min.css';
 
.App{
  margin: 2rem auto;
  padding: 1rem 2rem;
  max-width: 700px;
}

header{
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px
}


th {

  margin: auto;
  height: auto;
  color:black;
  font-weight: bold;
  
  }
 td{
  margin: 0.5rem 0;
  padding:0.2-5rem;
  column-width: 300px;
  box-sizing: content-box;
  font-family: 'sans-serrif';
  text-align: left;
  font-size: 20px
}

body{
  background-color: white;
  
} 
html{
  table-layout: auto;
  font-size: 20px;
  
  text-align: left;
  
  
}


.searchform{
  display: block;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.2rem;
}
.input{
  outline: 0;
  border: none;
  width: 350px;
  height: 35px;
  padding: 0.5rem;
  font-size: 15px;
  font-weight: bold;
}
.button {
  margin-inline-start: 20%;
  color: white;
  font-size: 10px;
  padding: 10px 24px;
  border-radius: 2px;
  transition: 0.4s;
  width:250px;

}

.delete-btn {
  outline: none;
  border: none;
  height: 40px;
  width:  40px;
  padding: 10px;
  color: white;
  font-size: 15px;
}  
   
