@import 'bootstrap/dist/css/bootstrap.min.css';
tr{
  
}
th {
  box-sizing: auto;
  margin: auto;
  height: auto;
  color: white;
  background-color: mediumseagreen;
  background-position: 0%;
  font-weight: bold;
  text-align:center;
  
 
}
td{
  font-family: 'sans-serrif';
  margin: auto;
  height: auto;
  text-align-last: center;
  padding-inline-end: 5rem;
  font-size: 20px
}

body{
  background-color: white;
}
html{
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 0px;
  text-align: left;
  
  
}

.title {
  text-align: center;
}

.searchform{
  display: block;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.2rem;
}
.input{
  outline: 0;
  border: 0;
  width: 350px;
  height: 35px;
  padding: 0 0.5rem;
  font-size: 15px;
  font-weight: bold;
}
.button {
  outline: none;
  border: none;
  height: 35px;
  padding: 0 0.5rem;
  color: white;
  font-size: 15px;
}

.delete-btn {
  outline: none;
  border: none;
  height: 40px;
  width:  40px;
  padding: 10px;
  color: white;
  font-size: 15px;
} 

